{% extends "forms_app/base.html" %}
{% block body %}
<h1 align="center">About Madisonne</h1>
<p align="center"> Madisonne Cooper is an beginning software developer in Memphis, TN. She is currently
taking a 6 month program with Code Crew Code School. So far, she has learned Java Script,
Python, Ajax, MERN stack applications, Django, Java, NodeJS, React, Express, SQL,
CSS, and more. She is experienced in working on solo and team projects, building web
applications, creating forms, debugging, and unit testing. </p>
{% endblock %}