{% extends "forms_app/base.html" %}
{% load static %}
{% block body %}

	{% if form_list %}
			{% for eachItem in form_list %}
				<div class="container" align="middle">
					<h3 class="display-4">{{ eachItem.name }}</h3>
					<p class="lead">Located at: {{eachItem.address}}</p>
					<p>Budget: $ {{eachItem.budget}}</p>
					<p>Employees: {{eachItem.numOfEmployees}}</p>
					<p>Since: {{eachItem.establishedDate}}</p>
				<span>
					<a class="btn btn-primary btn-sm" href="{% url 'edit' pk=eachItem.pk %}" role="button">Edit</a>
					<a class="btn btn-primary btn-sm" href="{% url 'delete' pk=eachItem.pk %}" role="button">Delete</a>
				</span>
					<hr/>
			{% endfor %}
		{% else %}
		<p>Nothing available.</p>
	{% endif %}
{% endblock %}